@media screen and (max-width: 575px) {
    .header__nav {
        padding-left: 0;
        font-size: 12px;
    }

    .header__info {
        padding-top: 16px;
    }

    .header__right, .nav__left__item, .time, .street, .logo__text, .call, .right__nav {
        display: none;
    }

    .header {
        font-size: 12px;
    }

    .logo__h1 {
        font-size: 18px;
    }

    .phone__number {
        font-size: 12px;
    }

    .phone__form {
        font-size: 10px;
    }

    .search {
        min-width: 200px;
    }

    .btn span {
        display: none;
    }

    .carousel-item img {
        height: 195px;
    }

    .actions {
        flex-direction: row;
        margin-top: 10px;
        column-gap: 10px;
        overflow: scroll;
    }

    .action {
        min-width: 270px;

    }

    .action__sale, .action__info-h1 {
        font-size: 12px;
    }

    .action__info-img {
        width: 58px;
        height: 54px;
    }

    .action__info-price {
        font-size: 14px;
    }

    .categories {
        margin-top: 20px;
    }

    .categories_h1 {
        font-size: 16px;

    }

    .categories_h2 {
        font-weight: 500;
        font-size: 10px;
        line-height: 14px
    }

    .categories__img img {

        height: 97px;
        margin-right: 16px;
    }

    .categories__text {
        padding: 16px;
    }

    .button__row {
        margin-top: 30px;
        margin-bottom: 30px;
        overflow: scroll;
    }

    .selections--marbot {
        margin-bottom: 80px;
    }

    .selections__h1 {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #0A1A2C;
    }

    .selections__price {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #FFB800;
        margin-top: 20px;
    }

    .selections__price span {
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: line-through;
        color: #C2C5DA;
    }

    .market__market {
        display: none;
    }

    .market .btn {
        font-size: .7rem;
    }

    .selections__img img {
        max-width: 149px;
    }

    .news__header {
        font-size: 16px;
        line-height: 19px;
    }

    .footer__icons {

        justify-content: center;
    }

    .partwrap img {
        width: 110px;
        height: 85px;
        right: 35px;
        top: -140px;
    }

    .part__text {
        left: 20px;
        top: -180px;
    }

    .part__text_h1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0A1A2C;
    }

    .part__text_h2 {
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        color: #717171;;
    }

    .part__text_price {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #005BB9;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .part__text_price span {
        display: block;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #C2C5DA;
    }

}