.content {
    display: flex;
   flex-direction: column;
}

.hero {
    flex-grow: 1;
    height: 200px;
    background-color: #D7C9E3;
}

.main-content {
    flex-grow: 1;
    height: 270px;
    background-color: #F5C632;
}

.sidebar {
    flex-grow: 1;
    height: 220px;
    background-color: #9FC363;
    margin-top: -90px;
}

.extra-content {
    flex-grow: 1;
    height: 150px;
    background-color: #898989;
    margin-top: -20px;
}

.categories__row {
    display: flex;
    height: 300px;
    column-gap: 10px;
}

.b {
    display: flex;
    column-gap: 10px;
}

.header {
    height: 100px;
    background-color: #54D5EB;
    margin-bottom: 10px;
}

.images {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    height: 100px;
}

.related-images {
    flex-grow: 4;
    background-color: #2BB673;
}

.posts {
    flex-grow: 1;
    background-color: #F2CDDE;
}

.foo{
    display: flex;
    height: 100px;
    background-color: #FEA500;
    margin-top: 10px;
}

.footer{
    height: 100%;
}

